.last-section {
    padding-block: 100px;
    background: url('/images/red-background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.last-img-right {
    position: absolute;
    top: 5%;
    right: 20%;
}

.last-section .talk-img-right {
    position: absolute;
    top: -50px;
    right: 70px;
}

.last-section .talkImage {
    border: 12px solid var(--background-secondary);
    width: 460px;
}

.last-section .talkImage img {
    width: 100%;
    height: 100%;
}

.last-section .last-btn {
    background-color: #FCC100 !important;
}


.last-section .special-text::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 15px;
    background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 570 15" fill="none" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M571 13C571 13 525.866 3.8811 496.092 2.3135C448.769 -0.178077 430.713 13 375.538 13C329.891 13 306.026 2.58959 260.836 2.3135C212.473 2.01803 186.305 13 137.94 13C91.1232 13 71.502 1.12451 40.7947 2.31345C16.7654 3.24382 1 8.00646 1 8.00646" stroke="%23FFD700" stroke-width="8"/></svg>') repeat-x;
    background-size: 100% 100%;
}

.img-div {
    position: relative;
    width: 447px;
    height: 366px;
}

.first-img {
    position: absolute;
    top: 0;
    left: -110px;
    width: 331px;
}

.second-img {
    position: absolute;
    bottom: -50px;
    right: 0;
    width: 389px;
    z-index: 1;
}

.first-img img {
    width: 100%;
    height: 100%;
    border: 12px solid white;
}

.second-img img {
    width: 100%;
    height: 100%;
    border: 12px solid white;
}

@media (max-width: 768px) {
    .last-section .btn-lg {
        width: 100% !important;
    }

    .last-section .centered-sm {
        text-align: center;
    }
}

@media (max-width: 1999px) {
    .last-section .text_div {
        margin-top: 100px;
    }
}

@media (max-width: 733px) {
    .last-section .text_div {
        margin-top: 100px;
    }

    .img-div {
        width: 100%;
    }

    .first-img {
        width: 300px;
        top: 0;
        left: 0;
    }

    .second-img {
        bottom: 0;
        right: 0;
        width: 300px;
    }
}

@media (max-width: 415px) {
    .last-section .text_div {
        margin-top: 5px;
    }

    .img-div {
        width: 100%;
    }

    .first-img {
        width: 280px;
        top: 0;
        left: 0;
    }

    .second-img {
        bottom: 10%;
        right: 0;
        width: 250px;
    }

    .last-section .btn-lg {
        font-size: 16px;
    }
}